[2020-02-09 00:26] yungyuc opened #5 "Use std::chrono to replace platform-specific timing code"

[2020-02-29 12:38] #5 closed, assigned to yungyuc

[2021-11-07 12:44] yungyuc opened #20 "Support ghost index in the first index of SimpleArray"
For indexing elements outside a mesh we need the "ghost" elements.  The ghost elements will use negative integer.

Allow ``SimpleArray`` to allow negative index in the first index.

[2021-11-21 06:29] #20 closed, assigned to yungyuc

[2021-11-25 04:45] tychuang1211 opened #22 "Add document for building modmesh"
Adding document may help with the building process.
I'd like to start from "building modmesh on Ubuntu with [devenv](https://github.com/solvcon/devenv)".

[2021-11-25 14:10] allen91wu commented on #22
Hi @tychuang1211 , I'm trying to build modmesh in Linux terminal. But I'm failed. Would you like to give me some direction of a solution?

**Error messages**
[code]

[2021-11-25 23:33] yungyuc commented on #22
Cmake cannot find pybind11.  Can you provide more information about your installation of pybind11?

[2021-11-26 04:36] allen91wu commented on #22
After I reinstall pybind11, an error disappeared.
The following log was denoted I have successfully build the modmesh?

[code]

[2021-12-19 07:27] yungyuc opened #27 "Single Python wrapper for SimpleArray"
At the time being, the (C++) `SimpleArray` class template is wrapped to Python by using distinct wrapper classes (template instantiations) for each of the fundamental `value_type` of interest:

[code]

And in Python, the construction of `SimpleArray` needs to use the specific type names:

[code]

It will be desirable to avoid the fundamental type name (`Float64`) in the array type name, so that th

[2021-12-19 07:55] yungyuc opened #28 "Columnar group of arrays"
`SimpleArray` currently supports only fundamental types.  Before supporting struct arrays, I would like to explore how it can support columnar groups of arrays.

The columnar groups organize arrays in the following way:

[code]

This is also the so-called structure of arrays.  If we treat the fields as the "rows" in a 2D array, the data in the group are organized like the "column-major" format of

[2021-12-19 14:36] yungyuc commented on #28
@tai271828 Do you have an idea for the implementation plan?

[2021-12-22 10:24] tai271828 commented on #28
No, simply assigning myself as a reminder. Maybe I should use subscription instead.

[2021-12-24 12:50] tai271828 commented on #28
Status update from my side: build and installation looks good with Ubuntu 20.04 for passing pytest.

[code]

The interesting part is I failed to print something expected. Not sure it a bug or not yet:

[code]

[2021-12-24 13:29] yungyuc commented on #28
Could you look into this?  It looks like a misconfiguration of import path.  It is good to confirm of falsify.

[2021-12-25 23:04] tai271828 commented on #28
Will do!

[2021-12-28 13:14] yungyuc opened #34 "Port calc_metric()"
Port the function `calc_metric()` from SOLVCON: https://github.com/solvcon/solvcon/blob/master/libmarch/include/march/mesh/UnstructuredBlock/calc_metric.hpp to complete `build_interior()`.

This is part of #33.

[2021-12-30 12:35] yungyuc commented on #34
Resolved by https://github.com/solvcon/modmesh/pull/33/commits/c6aeae9ab0f1884dc28b6b83113b6fe208d9f277

[2021-12-30 12:35] #34 closed, assigned to nobody

[2021-12-31 08:32] yungyuc opened #35 "Port build_boundary()"
Port `build_boundary()` from SOLVCON: https://github.com/solvcon/solvcon/blob/8dd74fa848b8d14d7796138ce199d0ae2e70235f/libmarch/include/march/mesh/UnstructuredBlock/class.hpp#L388

This is part of #33.

[2021-12-31 08:32] yungyuc opened #36 "Port build_ghost()"
Port `build_ghost()` from SOLVCON: https://github.com/solvcon/solvcon/blob/8dd74fa848b8d14d7796138ce199d0ae2e70235f/libmarch/include/march/mesh/UnstructuredBlock/class.hpp#L312

This is part of #33.

[2021-12-31 08:45] yungyuc opened #37 "Improve the switch case in calc_max_nface()"
In #33, `StaticMeshBase::calc_max_nface()` is implemented using switch case:

[code]

There should be a better way to do it and changing the `CellType` classes is allowed.

[2022-01-01 03:29] yungyuc commented on #35
Fixed by https://github.com/yungyuc/modmesh/commit/7e2d9e79a386f0368e251b9a803a3001018b4ac6.

[2022-01-01 03:29] #35 closed, assigned to yungyuc

[2022-01-01 12:17] yungyuc commented on #36
Fixed by https://github.com/solvcon/modmesh/pull/33/commits/adb8d3b86b1f016c6cc0aa18fb79db4395fb168b

[2022-01-01 12:17] #36 closed, assigned to yungyuc

[2022-01-01 12:20] yungyuc commented on #37
This has been fixed with #36.

[2022-01-01 12:20] #37 closed, assigned to nobody

[2022-01-01 12:30] yungyuc opened #38 "Allow populating boundary condition objects"
The class `StaticMeshBC` (boundary-condition treatment) is only available in C++.  We should make a way to populate the BC objects in `StaticMesh` from Python.

We may also consider to use polymorphism on the BC classes.

[2022-01-01 12:32] yungyuc opened #39 "Make a prototype GUI to visualize the unstructured mesh"
We want a simple way to visualize the unstructured mesh and the elements.  It may be fun to create a GUI for it.

[2022-03-27 01:47] yungyuc opened #52 "Set data from ndarray memory buffer to SimpleArray"
Provide better support for the Python wrapper of the class template `SimpleArray` to get the data [ndarray](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html) through the memory buffer.

[code]

Using Python [ellipsis](https://docs.python.org/dev/library/constants.html#Ellipsis) should [copy the data in the memory buffer](https://numpy.org/doc/stable/user/basics.indexing.html?hig

[2022-04-04 07:35] tai271828 commented on #28
Back to work on this issue. The recent change of the code base seems to need Qt6 development files for the recent QT viewer. I am still trying to build QT from source since it is too new for debian/ubuntu.

Two approaches for now:
1. Build the QT development files and mvoe forward.
2. Or, checkout the earlier commit e.g. `ed59a256f624dd99ac052ff7b044c0510eb2a7e4` and focus on this issue if it take

[2022-04-04 08:57] yungyuc commented on #28
It is a misunderstanding that the work for the experimental viewer made modmesh depend on Qt.  The viewer does depend on Qt, but the Python extension module does not.  Building the viewer can be turned off using https://github.com/solvcon/modmesh/blob/68681c7111beb6eaf8489bf1a6ed77aa0167986e/CMakeLists.txt#L14 The CI is also configured so: https://github.com/solvcon/modmesh/blob/68681c7111beb6eaf8

[2022-04-04 09:27] tai271828 commented on #28
Neat! Thanks for the tip.

Some misc notes from what I found:
1. For Ubuntu developers, please note `the officially supported CMake generator for building Qt is Ninja`[1]. You may need `sudo apt update; sudo apt install ninja-build` to help you build the qt6 when following [the instruction wiki](https://wiki.qt.io/Building_Qt_6_from_Git). For me Ubuntu 20.04.4 could build qt6 tag v6.2.4 successful

[2022-04-04 09:39] tai271828 commented on #28
I did not reproduce the import path issue mentioned [here] with the master code built without Qt[1].

I believe the mis-configuration of the import path came from the mis-installation out of `devenv` flavor stack (I set up my development environment with `devenv`), for example, I did not use `pip3` in my `devenv` flavor to install `pytest`.

Next step:
Go back and work on the array!

[1]
[code]

[2022-04-05 14:29] yungyuc opened #57 "Fix unwanted overlay in the viewer"
When the mesh is shown in the viewer in the first time, everything looks OK:

![image](https://user-images.githubusercontent.com/399122/161776685-b2c8a2c6-c865-4754-a26d-7f40b0a3bb3e.png)

But showing a (slightly) different mesh using `modmesh.view.show()` does not remove the first mesh and have the first and second overlaid in the widget:

![image](https://user-images.githubusercontent.com/399122

[2022-04-05 23:05] yungyuc opened #58 "Add window title and icon"
The viewer does not yet have window title and icon.

[2022-04-05 23:06] yungyuc opened #59 "[viewer] Add menubar"
Add basic menubar to the viewer.

[2022-04-06 13:43] yungyuc commented on #39
The prototype is done in https://github.com/solvcon/modmesh/blob/dc0a9f6808e85264995054323a6aea75d724913f/src/viewer/main.cpp#L35 using Qt6.  It's only built and tested manually with macos (v12).

[2022-04-06 13:43] #39 closed, assigned to yungyuc

[2022-04-06 13:46] yungyuc opened #60 "Add a 3D example mesh"
The unit test has a 2D example mesh: https://github.com/solvcon/modmesh/blob/dc0a9f6808e85264995054323a6aea75d724913f/tests/test_mesh.py#L82 but it does not have a 3D mesh.  A 3D example mesh should be created in the unit test.

The new prototype viewer should help creating and inspecting the mesh.

[2022-05-02 09:43] yungyuc commented on #57
After merging #63 the camera controller stops working.

[2022-05-02 09:51] yanagiragi commented on #57
@yungyuc You're right. It may takes sometimes to figure out the reason, perhaps it is due to the camera controller is worked as an component of the mesh rather than individual nodes.

Perhaps we should first revert to the commit before merging #63 ?

[2022-05-02 09:53] yungyuc commented on #57
I am guessing the same thing and investigating.  I think #63 is OK.  Deleting child entities should not break camera controller like that so I should find the root cause and fix it.

[2022-05-03 01:02] yungyuc commented on #57
I hope #64 is the last piece of this work.  If we do not find other bugs, this issue can be closed later.

[2022-05-04 14:29] #57 closed, assigned to yungyuc

[2022-05-04 23:51] #60 closed, assigned to yungyuc

[2022-05-05 00:16] yungyuc opened #66 "Add tests and code for 2D mixed elements"
Port 2D mixed-element (triangle + quadrilateral) CE/SE metric computation from https://github.com/solvcon/solvcon .  The work is also associated with issue #404.

The issue tracking 3D mesh is #67.

Tasks:
- [x] Phase 1: Mesh and CE Tests for 2D Mixed Elements
  - PR #859.
  - PR #862.
  - PR #865.
- [x] Phase 2: Gradient Element Geometry
  - Phase 2.1: PR #866.
  - Phase 2.2: PR #869.
- [x] Phase

[2022-05-05 00:17] yungyuc opened #67 "Add tests and code for 3D mixed elements"
Port 3D mixed-element (tetrahedron, hexahedron, prism, and pyramid) https://github.com/solvcon/solvcon .  The 2D mesh code was done in #66.

Tasks:

- [ ] Phase 1 -- Prism and pyramid in the Euler pipeline
- [ ] Phase 2 -- Multi-cell 3D meshes and a 3D mesh-level test
- [ ] Phase 3 -- 3D mixed-element mesh
- [ ] Phase 4 -- 3D marching with boundary conditions
- [ ] Phase 5 -- 3D validation problem

[2022-05-05 00:21] yungyuc opened #68 "Remove duplicated edges of the 3D mesh from viewer"
In https://github.com/solvcon/modmesh/pull/65/files#diff-7c21257cbc1fa4b8ffea665a0917abdd7861abf2562486ca4b2d6d3f26122e84R121, to show the wireframe of the tetrahedron, a lot of duplicated edges are used.  For data integrity and reduction of memory and runtime, the duplicated edges should be removed.

I think it's a good idea to add code in StaticMesh object to produce the sequence of edges.

[2022-05-06 06:22] yungyuc opened #69 "Add axis marker in the view window"
The view widget should use an axis marker.

[2022-05-07 02:05] yungyuc opened #70 "Improve camera control"
The current camera control uses vanilla `Qt3DExtras::QOrbitCameraController` and should be improved.  The camera control is a critical component in the viewer.  It at least needs the following functions and more:

* Resetting.
* WSAD.
* Change of origin.

----

Amended on 27th July 2024

- [x] "Up" and "w" should move toward the top of the window.  "Down" and "s" should move toward the bottom of t

[2022-05-11 16:20] tai271828 commented on #28
I verified an approach to build the Python extension module without disabling Qt6 with Ubuntu 22.04 (Jammy). The tip is to install not only the Qt6 core package but also the other necessary Qt6 packages.

[2022-05-15 08:27] ianlienfa commented on #22
@yungyuc How 'bout I add the README for build process on intel Mac?

[2022-05-15 08:30] yungyuc commented on #22
Sure.  But for it to be available in `master`, it should be a comprehensive one including both Linux and Mac, the two supported platform.  It's good to start with a PR for intel mac.

[2022-05-15 11:30] tai271828 commented on #22
@ianlienfa fwiw, I have a (work-in-progress) helper script to build `modmesh` with `devenv`. The script is a bit overkilled (via launching a development environment for `SOLVCON`) but it should have demonstrated how to use `devenv` for `modmesh`. Pull requests are welcome to make the script smaller. https://gitlab.com/tai271828/toolbox/-/blob/dev/scripts/solvcon/modmesh.sh

[2022-05-15 12:30] yungyuc commented on #22
It is not recommended to use `setup.py` for building:

[code]

The `setup.py` script calls `cmake` internally.  The added indirect is only to make it look like a Python extension module for future integration to a package manager for Python.

The `viewer` binary embeds a Python interpreter and will work very differently from a Python extension.

[2022-05-17 12:45] tai271828 opened #75 "Add viewer build binary in CI"
Per discussion on 220517 we all agree to do this. See https://hackmd.io/ZEN4vslFSs-40rGKaIgA2g?view

[2022-05-21 07:46] tai271828 commented on #75
Per this discussion https://github.com/solvcon/modmesh/discussions/53#discussioncomment-2781471 and the support of Ubuntu Jammy on Github https://github.com/actions/virtual-environments . I think we are ready to move forward because I can build the viewer binary with `devevn` (which helps automation) on my x86 machine running Ubuntu Jammy.

[2022-05-21 07:47] tai271828 commented on #75
I will try to move forward a bit this weekend. Fun weekend project :star_struck:

[2022-05-21 15:54] ianlienfa commented on #22
@yungyuc @tai271828
Some update on this thread,
I've successfully build the project on my intel Mac today,
I think I can provide a Mac version install script like the one we see above.

[2022-05-21 15:58] ianlienfa commented on #22
Btw, what does `devenv launch solvcon` do conceptually?
Is there some kind of remote repository maintaining the list of packages to download?
And will brew perform differently under the devenv or not?

[2022-05-22 05:52] tai271828 commented on #22
`devenv launch solvcon` is simply a quick approach for `devenv launch modmesh`, which has not been implemented. `devenv launch solvcon` tries to build a development environment by building the dependencies as much as possible. For example, if you take a closer look into `devenv launch solvcon` you will see `cmake` is compiled from source.

Will `brew` perform differently? Short (but not completely

[2022-05-22 06:53] ianlienfa commented on #22
Great, thanks for the response
I will look into the script later.

[2022-05-25 23:56] yungyuc commented on #69
Now we have a simple axis marker.  It will need a lot of improvements, e.g., add options for using arrow heads, making it to stay in the scene, etc.  Create new issues for the improvements.

[2022-05-25 23:56] #69 closed, assigned to nobody

[2022-05-26 00:00] yungyuc opened #78 "Add a feature to screenshot"
The screenshot feature should allow:

1. Shot the full or part of the window and/or 3D view.
2. Copy the shot to clipboard.  This helps paste online.
3. Save the shot to a (compressed and uncompressed) bitmap file.

[2022-05-31 10:16] #75 closed, assigned to tai271828

[2022-06-03 07:10] tai271828 commented on #22
Is anyone interested in [the framework of diataxis documentation style](https://diataxis.fr/), which is [officially adopted by Ubuntu](https://ubuntu.com/blog/diataxis-a-new-foundation-for-canonical-documentation)?

You may refer to [this talk of PyCon 2017](https://www.youtube.com/watch?v=qK-AnF5FJTs) or simply search on the internet with `diataxis Daniele Procida`. There are plenty of relevant (

[2022-06-03 14:35] yungyuc opened #84 "Add global feature toggles"
We are adding more and more features to the project and there is not yet a system to manage the settings of the features.  A [feature-toggling system](https://martinfowler.com/articles/feature-toggles.html) should be implemented to house and control the features that were and will be added.  Related discussions are in #165 .

The feature toggles should support two types of parameters:

1. Set once

[2022-06-04 09:53] yungyuc opened #85 "Review the missing Q_OBJECT macros"
I didn't include the `Q_OBJECT` macro in `QObject` sub-classes (the `R`-named classes).  It is simply an overlook.

Before the macro is added to the `QObject` sub-classes, we should make sure we know how to correctly add it.  This issue is filed to keep track of the fix.

[2022-06-04 13:54] #78 closed, assigned to nobody

[2022-06-05 05:04] yanagiragi commented on #58
Shouldn't be hard. Please let me have a try.

[2022-06-05 05:04] yanagiragi commented on #59
Shouldn't be hard. Please let me have a try.

[2022-06-05 07:33] yungyuc commented on #84
I am starting to add some simple code for it.

[2022-06-12 13:54] yungyuc commented on #59
mac may have some special behaviors.  See https://doc.qt.io/qt-6/qmenubar.html#qmenubar-as-a-global-menu-bar and #90 for more information.

[2022-06-14 14:20] yungyuc commented on #58
The macos icon is not available even after #92.  It can be handled in a separate PR.

[2022-06-23 09:22] tigercosmos commented on #27
I am now working on this.

[2022-06-23 11:47] zhdd80 opened #93 "please make some detailed instruction, guide the way"
nothing progressed

[2022-06-23 13:23] zhdd80 commented on #93
running build
running build_py
running build_ext
-- use PYTHON_EXECUTABLE=/home/zdd/anaconda3/bin/python3
-- not use clang-tidy
-- using program '/home/zdd/anaconda3/bin/flake8'
-- HIDE_SYMBOL: ON
-- DEBUG_SYMBOL: ON
-- MODMESH_PROFILE: OFF
-- Found pybind11: /home/zdd/anaconda3/include (found version "2.10.0dev1")
-- pybind11_INCLUDE_DIRS: /home/zdd/anaconda3/include;/home/zdd/anaconda3/include/p

[2022-06-23 14:02] yungyuc commented on #93
Duplicated with #22

[2022-06-23 14:02] #93 closed, assigned to nobody

[2022-06-24 17:33] tai271828 commented on #22
Please note the build process is in the Github Action CI. So anyone who is interested in how to build, you may refer to the CI yaml.

[2022-06-26 09:12] #68 closed, assigned to nobody

[2022-06-28 10:21] tigercosmos commented on #52
I am thinking if we want to support more complex indexing of SimpleArray, we may need to implement "slice" in SimpleArray or just implement it in the Python wrapper? Also, do we need to support all indexing syntax supported by Numpy?

[2022-06-28 13:57] yungyuc commented on #52
Doing it in the Python wrapper (pybind11 level) should be easier.  I think we should start with slicing alone.  Indexing by Boolean or index arrays may be much more complex to implement.

Implementing slicing right in the C++ SimpleArray is an interesting but separate matter.  It is to implement array view for the SimpleArray.  It may use a different issue to discuss.  modmesh does not has an imme

[2022-07-10 05:18] yanagiragi commented on #85
Please let me have a try.

[2022-07-12 11:17] yungyuc commented on #59
I forgot to close this issue which is considered as done.

[2022-07-12 11:17] #59 closed, assigned to yanagiragi

[2022-07-14 17:09] tigercosmos commented on #52
@yungyuc now we need to define `__setitem__` to support this issue's feature
[code]

when it comes to slices, it will be more complicated, for example,
[code]

 now the order and the number of parameters for `__setitem__` is dynamic, because there are many ways to represent a slice multidimensional array, like
[code]

 I am trying to use pack parameter but I am not sure if it works.

[code]

 Do y

[2022-07-14 23:19] yungyuc commented on #52
I did not think about using variable-length argument for the dynamic arguments like you mentioned:

[code]

I think it is too convoluted.  But simply using the Python `*args` and ``*kwargs`` should just work (https://pybind11.readthedocs.io/en/stable/advanced/functions.html#accepting-args-and-kwargs):

[code]

[2022-07-16 06:08] yungyuc opened #100 "Create a Python sub-package for application code"
The project has C++ and Python parts.  The C++ part plays the role of the computing engine, while the Python provides an easy-to-use platform for application.

A reasonably organized system has been developed in C++, but there is not a place to house Python code for application.  A sub-package (under `modmesh`) should be created to house the application code.

[2022-07-16 06:08] yungyuc commented on #100
A PR is on the way.

[2022-07-16 14:02] yungyuc opened #103 "Make "viewer" act like a Python interpreter"
The `viewer` binary invokes `pybind11::scoped_interpreter()` in the beginning of the process.  From https://github.com/solvcon/modmesh/blob/e2de7ce856b906f306d1db48f8b5c0018e480cd9/cpp/binary/viewer/viewer.cpp#L52 to https://github.com/solvcon/modmesh/blob/e2de7ce856b906f306d1db48f8b5c0018e480cd9/cpp/modmesh/python/common.cpp#L65

It might not be too far away for us to make the `viewer` binary wor

[2022-07-17 00:45] yungyuc opened #104 "Turn the "python" widget into a REPL interactive shell"
Currently the viewer is using a primitive widget to take Python code to run and it is not easy to use:

<img width="1112" alt="image" src="https://user-images.githubusercontent.com/399122/179379311-7bda9788-ff55-478f-86fc-5461caf8a45d.png">

There should be a REPL widget working like the Python REPL or iPython.

- [x] Add an interactive Python command console #145
- [x] Remove the Python text box

[2022-07-17 03:06] tai271828 commented on #104
REPL is a best-practice commonly seen in this use case. +1 to the idea.

[2022-07-17 03:55] yanagiragi commented on #104
LGTM. How about also provide an another feature to load *.py and execute it in the viewer?

[2022-07-17 04:03] yanagiragi commented on #70
Please let me have a try.

[2022-07-17 04:26] yungyuc commented on #104
Agree.  It could be done by extending the new "app" sub system (#100).

[2022-07-20 00:50] yungyuc opened #106 "Port to windows and add it to modmesh_viewer CI workflow"
This issue is opened to track the ongoing work of porting to windows.

[2022-07-20 05:27] yungyuc commented on #106
@tychuang1211 is working on it.

[2022-07-20 11:42] yanagiragi commented on #106
Will we have a CI specific for Windows build? or just compatible to Windows but CI stills runs on Linux workflow?

[2022-07-20 11:51] yungyuc commented on #106
GitHub action has windows runner.  We do not need a separate CI system.

It would be ideal that both Linux and windows use the same workflow.  If that is too hard, using two workflows is acceptable.

[2022-07-21 21:09] tigercosmos commented on #52
I am thinking that to support the whole functionality of slice is too complicated, because there is no "view" concept for SimpleArray, which is hard to calculate the offset considering start position and stop position. (i.g. `slice(start, stop, step)`)
[code]

I will first implement `slice(None, None, step)`, which is easier.
For example:
[code]

[2022-07-21 22:39] yungyuc commented on #52
How about trying to make `SimpleArray` support view and then make full support of slice assignment from ndarray?  It can use a new issue.  The new issue can be considered as a continuation of the current one.  The current issue may be closed with the support of only the "ellipsis-like slicing", i.e., the "full slicing `:`".

Another advantage of having the `SimpleArray` view support is to be able

[2022-07-24 04:47] yanagiragi commented on #85
The `Q_Object` is required if you use the singal/slot mechanism.

In Qt, there are two ways to connect the event with the callback: string based and functor based connections. The string based is done by using per-processer to replace the macros in the code, while the functor based has nothing special than a regular function in C++. The biggest difference between the two approaches is the functor

[2022-07-24 05:38] yungyuc commented on #85
Is it correct that if we go with the functor connection, the signal and slot will work without adding `Q_OBJECT` macro to our `R*` classes?

[2022-07-24 05:42] yanagiragi commented on #85
yes. In fact in [here](https://github.com/solvcon/modmesh/blob/master/cpp/modmesh/view/RPythonText.cpp#L54) `QPushButton::clicked` is already a signal.

As long as we don't use `SLOT` and `SIGNAL` macro we won't need `Q_OBJECT` macro.

[2022-07-24 05:53] yungyuc commented on #85
I see.  So the lack of `Q_OBJECT` in the `R*` classes is not a serious problem for now.  Perhaps we can close the issue and revisit this in the future if we find `SLOT` and `SIGNAL` macros are necessary.  What do you think @yanagiragi ?

[2022-07-24 05:54] yanagiragi commented on #85
Sure. Let's close it.

[2022-07-24 05:59] #85 closed, assigned to yanagiragi

[2022-07-24 23:09] yungyuc opened #111 "Add/evaluate macOS (12) build in CI"
Currently the `modmesh-viewer` has only Ubuntu build test.  It will be convenient to have macOS (12) viewer build as well.

[2022-07-31 16:50] tigercosmos commented on #27
The following code is my idea to achieve the goal:
[code]
[code]

and I got the reulst:
[code]

I don't know where I did wrong? `m` should be a `MyClass<T>` type and fit the argument?

[2022-07-31 23:12] yungyuc commented on #27
`MyClassBase`, `MyClass<int>`, and `MyClass<double>` are 3 difference C++ classes that all need pybind11 wrappers, but you only provide the wrapper of the first class.

[2022-08-01 10:00] tigercosmos commented on #27
I thought Python class `MyClass` is equal to C++ class `MyClassBase*`, am I right?

If so, in the following code, `MyClassDouble` should be equal to `MyClass<double> *`?
[code]
[code]
[code]

The type still mismatch. I think I have some really basic mistakes, could you give me some hints?

[2022-08-01 11:37] yungyuc commented on #27
This is interesting.  I didn't try to wrap a pointer type myself.  Could you try the following and see what happens?

[code]

[2022-08-02 04:55] minchuncho commented on #111
I'm on this.

[2022-08-02 07:24] yungyuc commented on #111
Thanks @minchuncho

[2022-08-02 18:33] tigercosmos commented on #27
@yungyuc  This is my proposal. I think the same mechanism will also work for SimpleArray.
[code]
[code]

[2022-08-02 23:27] yungyuc commented on #27
In your design, when there is a wrapper

[code]

What will happen with the Python code

[code]

[2022-08-02 23:29] yungyuc commented on #52
The above comment seems to be the same as https://github.com/solvcon/modmesh/issues/27#issuecomment-1203078356 and I am not sure how it handles the memory buffer.  Could you please elaborate?

[2022-08-03 18:11] tigercosmos commented on #52
I didn't find that I duplicate it. Just delete the above one. I will update at #27.

[2022-08-03 18:31] tigercosmos commented on #27
[code]

[code]

There is an error since the types are mismatched.

Why don't we make it like what I do for the function `base_at` to use `MyClassBase`?
[code]

I think I can still make it work when the argument is a derived class as long as I define the `type_caster` for `MyClass<int>` to accept `MyClassBase`. Is this what you want? and what's the difference?

[2022-08-03 18:48] tigercosmos commented on #27
To answer the question from #52,

There is a void pointer to store the buffer in the base class, and the base class will remember what dtype is. When the derived typed class access the buffer, the data will be casted to a correct type according to the dtype infomation. The idea is really like `pybind11::array` and `pybind11::array_t`, so we can have `SimpleArrayBase` and `SimpleArray_T`.

I make t

[2022-08-04 01:07] yungyuc commented on #27
In C++ there will be code to accept `MyClass<type>` instead of `MyClassBase`.  Python must use dynamic typing but C++ usually prefers static types for speed.  We must not sacrifice the compile-time speed offered by C++.

This sounds like a plan.  For `SimpleArray` we already have `ConcreteBuffer` to supper type erasure so that you do not really need to use `void *`.

[2022-08-07 13:52] tai271828 opened #115 "viewer crashes when loading app linear_wave"
build version: the latest codebase, commit hash f37635938bd070bb0070e58acd2d02aa77748ff9
pybind11: 2.9.2, that said, installed by `INSTALL_PREFIX=${HOME}/work-my-projects/solvcon/modmesh-installation ./contrib/dependency/install.sh pybind11`
numpy: python3-numpy/focal,now 1:1.17.4-5ubuntu3 amd64 [installed]  (from ubuntu focal 20.04 archive)
OS: ubuntu mate 20.04

# Steps to Reproduce
1. build the

[2022-08-07 14:19] yungyuc commented on #115
@tai271828 Do you have pyside6 installed?

And could you please show the code around the crashing site?

cc @yanagiragi

[2022-08-07 14:33] tai271828 commented on #115
1. No, I don't think I installed pyside6
2. the code around the crashing line https://github.com/solvcon/modmesh/blob/master/modmesh/app/linear_wave.py#L30

[2022-08-07 22:53] yungyuc commented on #115
The stack trace you posted suggested it's an issue about Python module loading (importation).  I think after installing pyside6 it would work.  It's also a good idea to use pdb / gdb to see the detail.

[2022-08-17 10:14] tychuang1211 commented on #106
I'm trying to port modmesh on Windows. it works smoothly in Release mode but crashes when running linear_wave app in Debug mode.
The problem is, PySide from PyPI has it's own copy of Qt DLLs, and will try to load them when being called.
It's not a problem in Release mode because if a DLL with the same module name is already loaded in memory, the system uses the loaded DLL.
![image](https://user-im

[2022-08-19 04:31] minchuncho opened #118 "Crash with the RHI rendering backend"
On a Mac of an older version, supposedly below `12`, the viewer app is likely to crash with the RHI rendering backend.

In my case, the following error messages first appeared while running `sample_mesh` and the viewer app failed to render the edges and axes as expected.
[code]
Even, a while after the running, the viewer app straight crashed with a segmentation fault.

As specified in the document

[2022-08-19 07:10] yungyuc commented on #118
I wonder is there a way to set the renderer other than using the environment variable?  If there is, we may try to do it in the code with a config file.

[2022-08-19 07:57] #111 closed, assigned to minchuncho

[2022-08-19 08:00] yungyuc commented on #100
The framework is done.  Mark this issue resolved.

[2022-08-19 08:00] #100 closed, assigned to yungyuc

[2022-08-24 03:44] minchuncho commented on #118
@yungyuc I'm working on this and just filed a PR to discuss further.

[2022-08-25 02:02] yungyuc commented on #118
Thanks.  You can also link the PR here by adding the number like #119 to help tracking the progress.

[2022-09-11 03:36] EN-Chou opened #120 "viewer crash when loading app sample_mesh twice in a row"
OS: Ubuntu 20.04.4 LTS

## Expexted result
`sample_mesh` runs with no crash regardless of how many time it's executed.
## Actual result
`sample mesh` crashes when its load twice in a row.
[code]
## Additional result
The viewer works properly loading `linear_wave` no matter how time in a row

[2022-09-11 04:24] yungyuc commented on #120
Thanks for reporting. Could you also post the stack trace from gdb (or any debugger)?

[2022-09-11 11:01] EN-Chou commented on #120
## The stack trace
[code]

[2022-09-11 11:07] EN-Chou commented on #120
Additionally, with `(gdb) run`, the following line is printed before crashing
[code]

[2022-09-11 11:51] yungyuc commented on #120
Have you tried the trick in #119 to use `export QT3D_RENENDER=opengl`?

And I also wonder whether or not upgrading to the latest NV driver https://www.nvidia.com/Download/driverResults.aspx/191961/en-us/ helps?

[2022-09-11 11:52] yungyuc commented on #120
And it would be great if you can also include Qt source code in the stack trace.  https://werat.dev/blog/debugging-lldb-with-source-stepping/ shows how to do it with lldb, and I believe there should be a similar way to do it with gdb.

[2022-09-14 10:13] tigercosmos commented on #27
@yungyuc I change the sample code: https://github.com/solvcon/modmesh/issues/27#issuecomment-1203078356

If I put `void *ptr` from `MyClassBase` to  `MyClass` (the derived one), the sample code will fail with a segmentation fault when I try to call `m.at()`.
Is there an obvious reason that I need to put the memory `void *ptr` in the base class but not a derived class?

I ask this because I am thin

[2022-09-17 08:09] #106 closed, assigned to nobody

[2022-09-26 12:54] yanagiragi commented on #120
FYI, it works fine in my old laptop. (I'm on d4dc3900)

[2022-10-02 04:51] tigercosmos commented on #120
I got the same issue with log (looks slightly different with @EN-Chou )

[code]

[2022-10-02 09:42] yungyuc commented on #120
[code]

Oh!  If it's caused by misaligned memory, it can explain why we do not see it on mac.

[2022-10-03 06:50] tigercosmos commented on #120
@yungyuc do you have any ideas in mind that which parts may cause the issue?

[2022-10-03 09:39] yungyuc commented on #120
I am not sure.  This kind of issues need a reproduction to study.  I would guess probably a buffer is not allocated in a right way?

[2022-10-08 03:08] yungyuc opened #127 "Embed a Jupyter notebook in the viewer"
I have not known how to make it happen, but it would be convenient if the viewer has a Jupyter notebook in it.

This feature will depend on or relate to #16 and #17.

[2022-10-19 14:11] tigercosmos opened #132 "Windows: viewer crashed when opening linear_wave"
Windows11, VS2022, QT6.3.2, source code with the latest master

when loading an app except the sample_mesh, it will crash with:

[code]
[code]

[2022-10-19 14:17] tigercosmos commented on #120
confirm that doesn't happen on Windows build

[2022-10-19 23:46] yungyuc commented on #132
It looks like an uncaught Python exception of missing module on import.  Could you try adding Python exception handling code around it to see what is the Python call stack?

And most likely you did not have PySide6 installed.

[2022-10-20 13:02] tigercosmos commented on #132
https://github.com/solvcon/modmesh/issues/106#issuecomment-1217815834

[2022-10-20 23:29] yungyuc commented on #132
Do you want to use a separate issue for the Python call stack enhancement, or just this one?

[2022-10-20 23:47] tigercosmos commented on #132
@yungyuc  Maybe a new issue. I think they are separated.

[2022-10-20 23:56] yungyuc opened #133 "Report the stack trace when Python exception is thrown from viewer"
Some Python exceptions are not properly handled when they are thrown from the viewer, e.g., the stack trace shown in #132:

[code]

I guess it's not the only place to have the issue.

[2022-10-21 02:48] tychuang1211 commented on #133
Just leaving reference.
[handling-python-exceptions-cpp](https://pybind11.readthedocs.io/en/stable/advanced/exceptions.html#handling-python-exceptions-cpp)

[2022-10-23 06:13] yungyuc opened #135 "Add profiling system for the shock tube problem"
The shock tube problem (`modmesh.onedim.euler1d.ShockTube`) is a classical compressible flow problem.  It uses a numerical solver along with an analytical solution.

The numerical solver is supposed to be high-performance but it is not yet optimized.  Before optimization, profiling should be done.  We do not yet have a useable profiling system in modmesh, but there is a prototype: https://github.c

[2022-10-23 06:16] yungyuc commented on #103
It's probably a good way to do it by using IPython: https://ipython.org/ipython-doc/stable/interactive/reference.html#embedding-ipython

[2022-10-23 07:32] yungyuc commented on #135
To have a basic understandings of the shock tube problem, the notes in https://github.com/solvcon/mmnote/ may be helpful.

[2022-10-24 11:43] tigercosmos commented on #120
@yungyuc  tried with `layout asm`
[code]

I don't think the information is helpful.
But my guess is that there are bugs when we use QT `setBuffer`

[2022-10-24 12:00] yungyuc commented on #120
`vmovdqu` does look innocent.  Before you try to look into `setBuffer()`, could you please confirm that the trick in #119 does not help?

[2022-10-25 02:08] tigercosmos commented on #120
[code]
[code]

[2022-10-25 02:25] tigercosmos commented on #120
doesn't help, I think they are different things

[2022-10-25 02:31] yungyuc commented on #120
Then it makes sense to investigate whether or not the buffer set by `setBuffer()` is bad.

[2022-10-29 09:09] yungyuc commented on #103
Now `viewer` can work just like a normal Python interpreter.  The next step may be to give it a better name.

[2022-10-29 09:09] #103 closed, assigned to nobody

[2022-10-31 13:49] yungyuc opened #142 "Add prototype code of the projection method in its branch"
Add the prototype projection method code to the branch `projection`.

The projection code may use constant-space two-dimensional Cartesian grid.  It should use `SimpleArray`.  A unit test should be available for it.

[2022-11-06 02:31] yungyuc commented on #104
@tigercosmos As we discussed in https://github.com/solvcon/modmesh/pull/144#discussion_r1014557732 , we should redirect the buffered outputs to the console display.

[2022-11-08 16:51] tigercosmos commented on #104
@yungyuc yes, I will work on it.
I think we can also add the following as TODOs
- add a `run` button for the command line, it will be more straightforward.
- support <shift-enter> to go to the next line

[2022-11-08 23:34] yungyuc commented on #104
Thanks.  Agree.  Items added.

[2022-11-15 09:12] tigercosmos opened #149 "Cmake setting for QT"
for Linux, I always need to add the line manually to make QT work. Maybe have a variable to specify the QT path and also try to guess where is QT?

[code]

[2022-11-15 09:38] yungyuc commented on #149
It is hard to make a right guess on every platform, and it is recommended to control it from build system argument, like: https://github.com/solvcon/modmesh/blob/e40e0d9fd7c5d16963425518a31d24e7df86e151/Makefile#L34

It also helps us to make parallel builds of different versions of Qt.

I will leave this issue open for a while for further discussions, but it looks like a non-issue.

[2022-11-15 09:50] tigercosmos opened #150 "Linux viewer runtime crash"
Latest master build in Linux. BTW, can we let CI run the executable to check if it is runnable?
[code]

[2022-11-15 10:21] yungyuc commented on #150
We messed up the buffer somewhere.

The binary is run in CI already: https://github.com/solvcon/modmesh/blob/e40e0d9fd7c5d16963425518a31d24e7df86e151/.github/workflows/devbuild.yml#L106 https://github.com/solvcon/modmesh/blob/e40e0d9fd7c5d16963425518a31d24e7df86e151/cpp/binary/viewer/CMakeLists.txt#L49

But most Qt widgets are not exercised.  The code needs to be restructured to allow testing the

[2022-11-15 13:02] tigercosmos commented on #150
but this binary is using `pytest` mode. I crashed at the beginning when I run `./viewer`, it is the QT mode

[2022-11-15 13:06] yungyuc commented on #150
Correct.  `--mode=pytest` does not construct `RApplicaiton` (or `QApplication`).  `QApplication` creates the Qt event loop.  In theory it is possible to keep the event loop running in parallel with a Python REPL, but I have not figured out what is the best way to do it.

If it is not done correctly, we should get more crashes harder to explain than this.

[2022-11-18 01:20] yungyuc commented on #149
It's probably not impossible to augment the path search on top of the Qt cmake library.  @tigercosmos any thoughts?

[2022-11-18 01:57] tigercosmos commented on #149
maybe we could let Cmake give hint, like "QT path cannot found, please try to set `set(CMAKE_PREFIX_PATH "/home/user/Qt/6.3.2/gcc_64/lib/cmake")` in the Cmake file"

[2022-11-18 02:41] yungyuc commented on #149
Printing a log message is a good idea, but I think it should be to suggest command line argument rather than modifying `CMakeLists.txt` (intrusive):

[code]

It would take some experiments and discussions to come up with a best practice.  I do it with my `setup.mk` and IDE settings.

[2022-11-20 06:48] tigercosmos commented on #149
@yungyuc so let's print a message as a workaround for now?

[2022-11-20 07:30] yungyuc commented on #149
Sounds good to me.

[2022-11-24 16:31] tigercosmos commented on #132
the reason is due to this line `win = ApplicationWindow()`, when it run `super().__init__()` in `ApplicationWindow`
error message: `QWidget: Must construct a QApplication before a QWidget`

if MacOS or Linux work, maybe it's an issue from upstream (`from matplotlib.backends.qt_compat import QtWidgets`)?
cc @yungyuc

[2022-11-25 00:20] yungyuc commented on #132
`QtWidgets` uses PySide6, in which you can trace into too (through the mpl code).

[2022-11-25 13:50] #149 closed, assigned to yungyuc

[2022-11-27 22:36] tai271828 opened #159 "viewer segmentation fault with the latest code (Ubuntu 20.04)"
I built the viewer with the latest code (commit 2774f90f33c0955661f27ce0b0090811787aac20) and get segmentation fault by running the viewer.

Build and execution environment:
- Ubuntu 20.04
- Qt 6.2.4

Build step:
[code]

Execution result:
[code]

[2022-11-27 22:39] tai271828 commented on #159
I did git bisect and nailed down the commit introduced the issue:

[code]

Besides, strace shows:
[code]

[2022-11-27 22:39] tai271828 commented on #159
Maybe relate to issue #150

[2022-11-28 04:34] tigercosmos commented on #159
surely it is

[2022-11-28 09:42] yungyuc commented on #159
@tai271828 What is you stack trace?  (Call stack in a debugger, not "strace".)

[2022-11-28 13:11] tai271828 commented on #159
[code]

[2022-11-28 13:25] yungyuc commented on #159
Could you test whether or not launching the GUI from a standard Python interpreter causes the crash too?

[code]

If it does, perhaps you can use pdb to pin-point to the line causing the crash, and then gdb to look into the C++ stack.

[2022-11-28 14:16] tai271828 commented on #159
[code]

The viewer popped up but crashed in the end still.

Next step:
Let me pin-point the python line with python debugger.